@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&family=Prata&display=swap");

body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: "Montserrat", sans-serif;
}

.main-section {
  padding-block: 20px;
}

.immage-container {
  height: 500px;
}

h1 {
  font-family: "Prata", serif;
  font-size: 64px;
  margin-bottom: 0;
}

h3 {
  font-family: "Prata", serif;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  text-decoration: none;
  color: #167d60;
}

h6 {
  padding: 22px;
  margin-bottom: 0px;
  margin-top: 56px;
  background: linear-gradient(270deg, #167d60, transparent);
}

ul {
  padding: 0px;
}

li {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
}

footer {
  background-color: black;
  color: white;
  padding: 16px;
}
